<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Working Paper</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="goBack()" class="btn btn-outline-primary blue">
                            <i class="fa fa-reply"></i>
                            {{l("Back")}}
                        </button>
                        <button *ngIf="workingPaperNew.taskStatus === taskStatusEnum.PendingReview" (click)="approve()" class="btn btn-success blue">
                            <i class="fa fa-check"></i>
                            {{l("Approve")}}
                        </button>
                        <button *ngIf="workingPaperNew.taskStatus === taskStatusEnum.PendingReview" (click)="reject()" class="btn btn-danger blue">
                            <i class="fa fa-times"></i>
                            {{l("Reject")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head hoverable" (click)="showGeneralInfoCard = !showGeneralInfoCard;">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>Basic Information</span>
                        </h3>
                    </div>
                </div>
                <div *ngIf="loading" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" 
                        role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div [hidden]="!showGeneralInfoCard" class="kt-portlet__body  ">
                    
                    <div class="form-group">
                        <label for="TestingTemplate_Title">{{l("Title")}} </label>
                        <input type="text" readonly id="TestingTemplate_Title" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.title" name="Title" />
                    </div>

                    <div class="form-group">
                        <label for="TestingTemplate_Title">Business Unit</label>
                        <input type="text" readonly id="TestingTemplate_BU" class="form-control" [(ngModel)]="organizationUnitDisplayName" name="BU" />
                    </div>                    

                    <div class="form-group">
                        <label for="TestingTemplate_DetailedInstructions">{{l("DetailedInstructions")}}</label>
                        <textarea type="text" readonly rows="5" id="TestingTemplate_DetailedInstructions" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.detailedInstructions" name="DetailedInstructions"></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="TestingTemplate_Title">Sample Size</label>
                            <input type="text" readonly id="TestingTemplate_Frequency" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.sampleSize" name="frequency" />
                        </div>
    
                        <div class="form-group col-md-4">
                            <label for="TestingTemplate_Title">Review Date </label>
                            <input type="text" readonly id="TestingTemplate_Time_To_Complete" class="form-control" [value]="workingPaperNew.completionDate | momentFormat: 'LL'" name="DaysToComplete" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                            <div class="card">
                                <div class="card-header" id="headingOne4" (click)="showRiskCard = !showRiskCard; showControlsCard = false;">
                                    <div class="card-title" [ngClass]="{'collapsed': !showRiskCard}" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                        <i class="flaticon-warning"></i> Risk
                                    </div>
                                </div>
                                <div id="collapseOne4" class="collapse" [ngClass]="{'show': showRiskCard}" aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td style="width: 20%;">Code:</td>
                                                    <td style="width: 80%;">{{testingTemplate.risk.code}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Name:</td>
                                                    <td style="width: 80%;">{{testingTemplate.risk.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Description:</td>
                                                    <td style="width: 80%;">{{testingTemplate.risk.description}}.</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Severity:</td>
                                                    <td style="width: 80%;">
                                                        <span class="kt-badge kt-badge--inline kt-badge--danger">
                                                            {{severityEnum[testingTemplate.risk.severity]}}
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo4" (click)="showControlsCard = !showControlsCard; showRiskCard = false;">
                                    <div class="card-title" [ngClass]="{'collapsed': !showControlsCard}" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                        <i class="flaticon2-dashboard"></i> Control
                                    </div>
                                </div>
                                <div id="collapseTwo4" class="collapse" [ngClass]="{'show': showControlsCard}" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td style="width: 20%;">Code:</td>
                                                    <td style="width: 80%;" >{{testingTemplate.control.code}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Name:</td>
                                                    <td style="width: 80%;">{{testingTemplate.control.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Description:</td>
                                                    <td style="width: 80%;">{{testingTemplate.control.description}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Control Type:</td>
                                                    <td style="width: 80%;">
                                                        <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-primary">
                                                            {{controlTypeEnum[testingTemplate.control.controlType]}}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%;">Frequency:</td>
                                                    <td style="width: 80%;">
                                                        <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-success">
                                                            {{frequency[testingTemplate.control.frequency]}}
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head hoverable" (click)="showSamplingCard = !showSamplingCard">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>Sampling</span>
                        </h3>
                    </div>
                </div>
                <div *ngIf="loadingSamples" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" 
                        role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div *ngIf="!loading" [hidden]="!showSamplingCard" class="kt-portlet__body  ">
                    <tabset>
                        <tab heading="Samples">
                            <div *ngIf="sampleResponses.length > 0" class="mx-auto">
                                <button *ngIf="!isFirstSample()" (click)="gotoPrev()" class="btn btn-primary btn-sm">
                                    <i class="fa fa-arrow-left"></i>
                                    Prev
                                </button>
                                <button class="btn btn-secondary btn-sm">
                                    <span class="font-weight-bolder">{{currentSample.sampleId}}</span>/<span class="font-size-sm">{{sampleResponses.length}}</span>
                                </button>
                                <button *ngIf="!isLastSample()" (click)="gotoNext()" class="btn btn-primary btn-sm">
                                    Next
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                            <div *ngIf="sampleResponses.length == 0">No samples recorded</div>
                            <br>
                            <div *ngIf="sampleResponses.length > 0">
                                <div class="row">
                                    <!-- <div class="form-group col-md-4">
                                        <label for="TestingTemplate_Title">Sample id</label>
                                        <input type="number" min="0" id="TestingTemplate_SampleSize" class="form-control" [value]="sampleId" name="SampleSize" readonly />
                                    </div>
                                    <div class="col-8"></div> -->
                                    <div class="form-group col-md-6">
                                        <label for="TestingTemplate_Title">Sample Description</label>
                                        <textarea id="TestingTemplate_SampleDescription" class="form-control" name="SampleSize" rows="3" ></textarea>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>
                                                    Attribute Question(s)
                                                </th>
                                                <th>Weight</th>
                                                <th>Response</th>
                                            </tr>
                                            <tr *ngFor="let x of attributes;">
                                                <td>{{x.name}}</td>
                                                <td>{{x.weight}}</td>
                                                <td>
                                                    {{ getCurrentSampleResult(x.id) }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="form-group">
                                            <label for="WorkingPaperNew_Comment">{{l("Comment")}}</label>
                                            <textarea type="text" id="WorkingPaperNew_Comment" class="form-control" rows="5" [(ngModel)]="workingPaperNew.comment" name="Comment"></textarea>
                                        </div>
                                        <!-- <div>
                                            <button type="button" class="btn btn-primary" (click)="addResult()">Add Result</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Exceptions">
                        </tab>
                        <tab heading="Escalation">
                        </tab>
                    </tabset>
                </div>
            </div>

            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head hoverable" (click)="showAuditInfoCard = !showAuditInfoCard;">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span>Audit Information</span>
                        </h3>
                    </div>
                </div>
                <div *ngIf="loading" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" 
                        role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div [hidden]="!showAuditInfoCard" class="kt-portlet__body">
                    
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="DateCreated">Date created</label>
                            <input type="text" readonly disabled id="DateCreated" class="form-control" [value]="workingPaperNew.taskDate | momentFormat: 'LL'" name="DateCreated" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="DateCreated">Last updated</label>
                            <input type="text" readonly disabled id="DateLastUpdated" class="form-control" [value]="workingPaperNew.completionDate | momentFormat: 'LL'" name="DateLastUpdated" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="CreatedBy">Assigned to</label>
                            <input type="text" readonly disabled id="CreatedBy" class="form-control" [value]="userName" name="CreatedBy" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="UpdatedBy">Last updated by</label>
                            <input type="text" readonly disabled id="UpdatedBy" class="form-control" [value]="userName2" name="UpdatedBy" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
