<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Working paper</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        View working paper details.
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- <button (click)="goBack()" class="btn btn-outline-success">
                            <i class="fa fa-reply"></i> {{l("Back")}}
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">


            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <h2>Quarantine affected machines</h2>
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">

                                    <h5>
                                        <dt>Business Unit</dt>
                                        <dd>Allen Avenue Branch</dd>
                                    </h5>

                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">

                                    <h5>
                                        <dt>Raised By:</dt>
                                        <dd>John AKindele</dd>
                                        <br/>
                                        <dt>Creation Date:</dt>
                                        <dd> 10.07.2014 23:36:57 </dd>
                                    </h5>
                                </dl>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">

                                    <h5>
                                        <dt>Risk Details: </dt><br/>
                                        <dd>Virus and malware can easily transmit to other computers via the network
                                            either WAN or LAN</dd>
                                    </h5>
                                </dl>
                            </div>


                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <h5>
                                        <dt>Severity:</dt><br/>
                                        <dd><a href="#" class="text-navy"> Medium</a> </dd>
                                    </h5>

                                </dl>
                            </div>
                        </div>
                     
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">

                                    <h5><br/><br/>
                                        <dt>Control: </dt><br/>
                                        <dd>Isolate all affected computers from the network and ensure they all pass Anti-Virus scan before placing back on the network
                                            </dd>
                                    </h5>
                                </dl>
                            </div>


                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <h5><br/><br/>
                                        <dt>sample Size:</dt><br/>
                                        <dd><a href="#" class="text-navy"> 23</a> </dd>
                                    </h5>

                                </dl>
                            </div>
                        </div>
                     

                    </div>
                </div>

                <hr/>


                        
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                          Attritbutes
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="width: 30%"><b>Information</b></td>
                                <td>
                                  <b> Decision</b> 
                                </td>
                            </tr>
                            <tr>
                            <td style="width: 30%">Can the affected computer still be fixed</td>
                            <td>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Yes
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> No
                                        <span></span>
                                    </label>
                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Where storages on the network affected</td>
                            <td>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Yes
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> No
                                        <span></span>
                                    </label>
                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Does it require physical device components to be changed</td>
                            <td>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Yes
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> No
                                        <span></span>
                                    </label>
                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Is there a cost attached to resolution</td>
                            <td>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> Yes
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="radio2"> No
                                        <span></span>
                                    </label>
                                   
                                </div>
                            </td>
                        </tr>
                      
                       
                      
                    </tbody></table>
                </div>
            </div>

            </div>


        </div>
    </div>
</div>