<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="process.id">{{"Edit Process" | localize}}</span>
                        <span *ngIf="!process.id && !process.parentId">{{"New Process" | localize}}</span>
                        <span *ngIf="!process.id && process.parentId">{{"New Sub-Process" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- <div class="form-group">
                        <label for="Process_Parent_Name">{{l("Process")}}</label>
                        <input type="text" id="Process_Parent_Name" class="form-control" [(ngModel)]="process.name" disabled readonly
                            name="ParentName" />
                    </div> -->

                    <div class="form-group">
                        <label for="Process_Name">{{l("Name")}}</label>
                        <input type="text" id="Process_Name" class="form-control" [(ngModel)]="process.name"
                            name="Name" />
                    </div>

                    <div class="form-group">
                        <label for="Process_Description">{{l("Description")}}</label>
                        <textarea id="Process_Description" class="form-control"
                            [(ngModel)]="process.description" name="Description" rows="5"></textarea>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="UserName">{{l("Owner")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text"
                                disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i
                                        class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setOwnerIdNull()"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="process.ownerId" [(ngModel)]="process.ownerId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="OrganizationUnitDisplayName">{{l("Department")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="OrganizationUnitDisplayName"
                                name="organizationUnitDisplayName" [(ngModel)]="organizationUnitDisplayName" type="text"
                                disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectOrganizationUnitModal()"
                                    type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setDepartmentIdNull()"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="process.departmentId" [(ngModel)]="process.departmentId"
                        type="text" hidden>


                    <div class="m-checkbox-list">
                        <label for="Process_Casade" class="kt-checkbox">
                            <input id="Process_Casade" type="checkbox" name="Casade" [(ngModel)]="process.casade">
                            Cascade to sub-units
                            <span></span>
                        </label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>

    <processUserLookupTableModal #processUserLookupTableModal (modalSave)="getNewOwnerId()"></processUserLookupTableModal>
		 <processOrganizationUnitLookupTableModal #processOrganizationUnitLookupTableModal (modalSave)="getNewDepartmentId()"></processOrganizationUnitLookupTableModal>
</div>