<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <!-- <div class="col-6 mb-3">
                        <h6>{{l("Code")}} :</h6>
                        {{ item.department.code }}
                    </div> -->
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.department.name }}
                    </div>
                    <div class="col-12 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.department.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsAbstract")}} :</h6>
                        <span *ngIf="item.department.isAbstract" class="kt-badge kt-badge--brand kt-badge--inline bg-success">Yes</span>
                        <span *ngIf="!item.department.isAbstract" class="kt-badge kt-badge--brand kt-badge--inline bg-danger">No</span>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsControlTeam")}} :</h6>
                        <span *ngIf="item.department.isControlTeam" class="kt-badge kt-badge--brand kt-badge--inline bg-success">Yes</span>
                        <span *ngIf="!item.department.isControlTeam" class="kt-badge kt-badge--brand kt-badge--inline bg-danger">No</span>
                    </div>

                    <div class="col-6 mb-3">
                        <h6>Unit Head :</h6>
                        {{item.userName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Control Officer :</h6>
                        {{item.userName2}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Supervising Unit:</h6>
                        {{item.supervsingUnitDisplaName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
