<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Business Units" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        Manage users and risks for the different business units
                    </span>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="row">
                <div class="col-lg-5">
                    <organization-tree #ouTree (ouSelected)="ouSelected($event)"></organization-tree>
                </div>
                <div class="col-lg-7">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <span *ngIf="organizationUnit">{{organizationUnit.displayName}}</span>
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <button (click)="submitForReview()" class="btn btn-primary" *ngIf="organizationUnit && activeRcsaProgram && assessment.verificationStatus == verificationStatusEnum.Submitted">
                                    <i class="fa fa-check"></i> {{"Submit" | localize}}
                                </button>
                                <button (click)="submitForVerification()"
                                    class="btn btn-primary" *ngIf="organizationUnit && activeRcsaProgram && assessment.verificationStatus == verificationStatusEnum.Submitted">
                                    <i class="fa fa-check-double"></i> {{"Verify" | localize}}
                                </button>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <tabset class="tab-container" >
                                <tab heading="Processes" [active]="true">
                                    <app-dept-process-risk-control #ouProcess ></app-dept-process-risk-control>
                                    <!-- <organization-unit-risks #ouRisks (risksAdded)="ouTree.risksAdded($event)" 
                                                             (riskRemoved)="ouTree.risksRemoved($event)"></organization-unit-risks> -->
                                </tab>
                                <tab heading="{{'Members' | localize}}" >
                                    <organization-unit-members #ouMembers (membersAdded)="ouTree.membersAdded($event)"
                                                               (memberRemoved)="ouTree.memberRemoved($event)"></organization-unit-members>
                                </tab>

                                <!-- <tab heading="Controls">
        <organization-unit-controls #ouControls (controlsAdded)="ouTree.controlsAdded($event)"
                                 (controlsRemoved)="ouTree.controlsRemoved($event)"></organization-unit-controls>
    </tab> -->
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
