<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h1 class="text-white">iGRCS</h1>
                <p class="text-white" style="width: 40%; margin-left: auto; margin-right: auto;">
                    Enterprise grade solution that automates the process of managing your
                    Internal Control, Internal Audit and Operational Risk activities.
                </p>
                <nav>
                    <div class="landing_container">
                        <a class="items animated fadeIn" routerLink="/app/main/home">
                            <div class="icon-wrapper">
                                <i class="flaticon-interface-8"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL CONTROL</p>
                            </div>
                        </a>
            
                        <a class="items animated fadeIn" routerLink="/app/main/home">
                            <div class="icon-wrapper">
                                <i class="flaticon-graph"></i>
                            </div>
                            <div class="project-name">
                                <p >OPERATIONAL RISK</p>
                            </div>
                        </a>
            
                        <a class="items animated fadeIn" routerLink="/app/main/home">
                            <div class="icon-wrapper">
                                <i class="flaticon-background"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL AUDIT</p>
                            </div>
                        </a>
            
                        <a class="items animated fadeIn" routerLink="/app/main/home">
                            <div class="icon-wrapper">
                                <i class="flaticon-app"></i>
                            </div>
                            <div class="project-name">
                                <p >GENERAL</p>
                            </div>
                        </a>
            
                    </div>
                </nav>
            </header>

        <!-- Footer -->
            <footer id="footer">
                <span class="copyright text-white">Integrated Governance Risk and Compliance Solution | &copy; 2020.</span>
            </footer>

    </div>
</div>