<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h1 class="text-white" style="font-family: Georgia, 'Times New Roman', Times, serif;"><i>i</i>GRCS</h1>
                <p class="text-white" style="width: 40%; margin-left: auto; margin-right: auto;">
                    Enterprise grade solution that automates the process of managing your
                    Internal Control, Internal Audit and Operational Risk activities.
                </p>
                <div style="width: 50%; margin: 60px auto;" class="">
                    <!--begin::Icon-->
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <!-- <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Hello {{userName}}, What would you like to do today?"> -->
                    <!--end::Input-->

                    <p-autoComplete [(ngModel)]="action"
                                    id="SingleSelectInput"
                                    [suggestions]="filteredActions"
                                    (completeMethod)="filterActions($event)"
                                    (onSelect)="selectAction($event)"
                                    field="action"
                                    placeholder="Hello {{userName}}, What would you like to do today?"
                                    [minLength]="1"
                                    name="SingleSelectInput"
                                    [type]="'search'"
                                    inputStyleClass="form-control border-0 py-7 px-1 font-size-h6"
                                    styleClass="width-percent-100">
                    </p-autoComplete>
                </div>
                <nav>
                    <div class="landing_container">
                        <a class="items animated fadeIn" routerLink="/app/main/home" (click)="setSelectedModule(_AppConsts.ModuleKeyValueInternalControl)">
                            <div class="icon-wrapper">
                                <i class="flaticon-interface-8"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL CONTROL</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/main/home/oprisk" (click)="setSelectedModule(_AppConsts.ModuleKeyValueOpRisk)">
                            <div class="icon-wrapper">
                                <i class="flaticon-graph"></i>
                            </div>
                            <div class="project-name">
                                <p >OPERATIONAL RISK</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/main/home" (click)="setSelectedModule(_AppConsts.ModuleKeyValueInternalAudit)">
                            <div class="icon-wrapper">
                                <i class="flaticon-background"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL AUDIT</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/admin/users"  (click)="setSelectedModule(_AppConsts.ModuleKeyValueGeneral)">
                            <div class="icon-wrapper">
                                <i class="flaticon-app"></i>
                            </div>
                            <div class="project-name">
                                <p >GENERAL</p>
                            </div>
                        </a>

                    </div>
                </nav>
            </header>

        <!-- Footer -->
            <footer id="footer">
                <span class="copyright text-white">Integrated Governance Risk and Compliance Solution | &copy; 2020.</span>
            </footer>

    </div>
</div>
