<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
            <header id="header">
                <h1 class="text-white" style="font-family: Georgia, 'Times New Roman', Times, serif;"><i>i</i>GRCS</h1>
                <p class="text-white" style="width: 40%; margin-left: auto; margin-right: auto;">
                    Enterprise grade solution that automates the process of managing your
                    Internal Control, Internal Audit and Operational Risk activities.
                </p>
                <div style="width: 50%; margin: 60px auto;" class="input-group">
                    <!--begin::Icon-->
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0 py-7 px-8">
                            <span class="svg-icon svg-icon-xl">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Search.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </div>
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Hello {{userName}}, What would you like to do today?">
                    <!--end::Input-->
                </div>
                <nav>
                    <div class="landing_container">
                        <a class="items animated fadeIn" routerLink="/app/main/home" (click)="setSelectedModule(_AppConsts.ModuleKeyValueInternalControl)">
                            <div class="icon-wrapper">
                                <i class="flaticon-interface-8"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL CONTROL</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/main/home/oprisk" (click)="setSelectedModule(_AppConsts.ModuleKeyValueOpRisk)">
                            <div class="icon-wrapper">
                                <i class="flaticon-graph"></i>
                            </div>
                            <div class="project-name">
                                <p >OPERATIONAL RISK</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/main/home" (click)="setSelectedModule(_AppConsts.ModuleKeyValueInternalAudit)">
                            <div class="icon-wrapper">
                                <i class="flaticon-background"></i>
                            </div>
                            <div class="project-name">
                                <p >INTERNAL AUDIT</p>
                            </div>
                        </a>

                        <a class="items animated fadeIn" routerLink="/app/main/home"  (click)="setSelectedModule(_AppConsts.ModuleKeyValueGeneral)">
                            <div class="icon-wrapper">
                                <i class="flaticon-app"></i>
                            </div>
                            <div class="project-name">
                                <p >GENERAL</p>
                            </div>
                        </a>

                    </div>
                </nav>
            </header>

        <!-- Footer -->
            <footer id="footer">
                <span class="copyright text-white">Integrated Governance Risk and Compliance Solution | &copy; 2020.</span>
            </footer>

    </div>
</div>
