<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span *ngIf="testingTemplate.id">{{l("EditTestingTemplate")}}</span>
                        <span *ngIf="!testingTemplate.id">{{l("CreateNewTestingTemplate")}}</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="save()" class="btn btn-primary blue" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                        <button class="btn btn-outline-primary" (click)="goBack()"><i class="fa fa-reply"></i>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <form *ngIf="active" #testingTemplateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="kt-portlet__body">

                    <div class="form-group">
                        <label for="TestingTemplate_Title">{{l("Title")}} *</label>
                        <input type="text" id="TestingTemplate_Title" class="form-control" [(ngModel)]="testingTemplate.title" name="Title" required />
                    </div>

                    <div class="form-group">
                        <label for="TestingTemplate_DetailedInstructions">{{l("DetailedInstructions")}}</label>
                        <textarea type="text" rows="10" id="TestingTemplate_DetailedInstructions" class="form-control" [(ngModel)]="testingTemplate.detailedInstructions" name="DetailedInstructions"></textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="TestingTemplate_Frequency">{{l("Frequency")}}</label>
                            <select class="form-control" name="Frequency" id="TestingTemplate_Frequency" [(ngModel)]="testingTemplate.frequency">
                                <option value="0">{{l('Daily')}}</option>

                                <option value="1">{{l('Weekly')}}</option>

                                <option value="2">{{l('Monthly')}}</option>

                                <option value="3">{{l('Quarterly')}}</option>

                                <option value="4">{{l('Yearly')}}</option>


                            </select>
                        </div>

                        <div class="form-group col-4">
                            <label for="TestingTemplate_Title">Days to complete *</label>
                            <input type="number" min="0" id="TestingTemplate_DaysToComplete" class="form-control" [(ngModel)]="testingTemplate.daysToComplete" name="daysToComplete" required />
                        </div>

                        <div class="form-group col-4">
                            <label for="Project_Owner">Project Owner</label>
                            <select type="text" id="Project_owner" class="form-control"
                                [(ngModel)]="testingTemplate.projectOwner" name="owner">
                                <option [value]="projectOwnerEnum.InternalAudit">Internal Audit</option>
                                <option [value]="projectOwnerEnum.InternalControl">Internal Control</option>
                                <option [value]="projectOwnerEnum.OperationRisk">Operational Risk</option>
                                <option [value]="projectOwnerEnum.General">General</option>
                            </select>
                        </div>


                    </div>
                    <hr />
                    <tabset>
                        <tab heading="Sample Selection">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="TestingTemplate_Title">Sample Size *</label>
                                    <input type="number" min="0" id="TestingTemplate_SampleSize" class="form-control" [(ngModel)]="testingTemplate.sampleSize" name="SampleSize" required />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="TestingTemplate_Title">Selection Type</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionType" value="1" checked> Auto-generated
                                            <span></span>
                                        </label>
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionType" value="2"> Manual
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="TestingTemplate_Title">Selection Methodology</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionMethod" checked> Random
                                            <span></span>
                                        </label>
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionMethod"> Haphazard
                                            <span></span>
                                        </label>
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionMethod"> Materiality
                                            <span></span>
                                        </label>
                                        <label class="kt-radio">
                                            <input type="radio" name="testingTemplate.selectionMethod"> Lowest
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Test Attributes">
                           
                            <div class="row">
                                <div class="col-lg-12">
                                    <p-tree [value]="treeData"
                                    selectionMode="single"
                                    [(selection)]="selectedOu"
                                    (onNodeSelect)="nodeSelect($event)"
                                    (onNodeDrop)="nodeDrop($event)"
                                    [contextMenu]="ouContextMenu"></p-tree>
                                <p-contextMenu #ouContextMenu [model]="ouContextMenuItems" appendTo="body" baseZIndex="99999">
            
                                </p-contextMenu>
                                </div>
                                <!-- <div class="col-lg-7">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    <span *ngIf="organizationUnit">{{organizationUnit.displayName}}</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <tabset class="tab-container" >
                                                <tab heading="Risks" [active]="true">
                                                    <app-process-risks #ouRisks (risksAdded)="ouTree.risksAdded($event)" ></app-process-risks>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            





                            <div class="form-group">
                                <label for="AttributeQuestion">Add Attribute Question</label>
                                <div>
                                    <input type="text" id="AttributeQuestion" class="form-control" [(ngModel)]="attributeQuestion" name="AttributeQuestion" />

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-4">

                                    <label for="Weight">Weight</label>
                                    <div>
                                        <input type="number" id="Weight" min="0" max="availableWeight" class="form-control" [(ngModel)]="weight" name="Weight" />

                                    </div>
                                </div>

                                <div class="form-group col-3">

                                    <label for="Weight">Sub Question</label>
                                    <div>
                                    <input [(ngModel)]="changeState" type="checkbox" id="subQuestion" name="subQuestion" />
                                   </div>
                                </div>

                                <div class="form-group col-5" *ngIf="changeState">

                                    <label for="Weight">Questions</label>
                                    <div>
                                        <select name="selectedQuestion" id="selectedQuestion" [(ngModel)]="selectedQuestion" 
                                        class="form-control custom-select" >
                                     
                                        <option *ngFor="let item of QuestionsDropdown" value="{{item.value}}">{{item.name}}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div>
                                <button class="btn btn-success green" (click)="addAttribute()" type="button"><i class="fa fa-plus"></i> Add</button>
                            </div>

                            <br />
                            <hr />


                            <label>   Selected attributes for testing:</label>

                            <div>
                                <table class="table table-striped">
                                    <tr>
                                        <th>
                                            Attribute Question(s)
                                        </th>
                                        <th>
                                            Weight
                                        </th>
                                        <th>
                                            Sub Question
                                        </th>
                                        <th>
                                            Exception Type
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                    <tr *ngFor="let item of attributes">
                                        <td>{{item.name}}</td>
                                        <td>{{item.weight}}</td>
                                        <td>  {{item.selectedQuestion}}</td>
                                        <td>{{item.exceptionTypeName}}</td>
                                        <td>
                                            <button class="btn btn-outline-danger btn-sm btn-icon"
                                                    (click)="removeColumn(item.parentId)">
                                                <i class="fa fa-times"
                                                   [attr.aria-label]="l('Remove')"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </tab>

                        <!-- <tab heading="Exception Management">
                            <div class="form-group m-form__group">
                                <label for="ExceptionTypeName">Select Default Exception Type</label>
                                <div class="input-group">
                                    <input class="form-control" id="ExceptionTypeName" name="exceptionTypeName" [(ngModel)]="exceptionTypeName" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectExceptionTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger btn-icon" type="button" (click)="setExceptionTypeIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" name="exceptionIncident.exceptionTypeId" [(ngModel)]="exceptionTypeId" type="text" hidden>

                        </tab> -->

                    </tabset>

                </div>
                <div class="kt-portlet__foot">
                    <div class="col-lg-12">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="goBack()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!testingTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <exceptionIncidentExceptionTypeLookupTableModal #exceptionIncidentExceptionTypeLookupTableModal (modalSave)="getNewExceptionTypeId()"></exceptionIncidentExceptionTypeLookupTableModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
   </div>

