<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #testingTemplateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="testingTemplate.id">{{l("EditTestingTemplate")}}</span>
                        <span *ngIf="!testingTemplate.id">{{l("CreateNewTestingTemplate")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="DepartmentRiskControlCode">{{l("DepartmentRiskControl")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="DepartmentRiskControlCode" name="departmentRiskControlCode" [(ngModel)]="departmentRiskControlCode" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectDepartmentRiskControlModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setDepartmentRiskControlIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="testingTemplate.departmentRiskControlId" [(ngModel)]="testingTemplate.departmentRiskControlId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="TestingTemplate_Code">{{l("Code")}} *</label>
									<input type="text" id="TestingTemplate_Code" class="form-control" [(ngModel)]="testingTemplate.code" name="Code"     required/>
								</div>
					
								<div class="form-group">
									<label for="TestingTemplate_DetailedInstructions">{{l("DetailedInstructions")}}</label>
									<input type="text" id="TestingTemplate_DetailedInstructions" class="form-control" [(ngModel)]="testingTemplate.detailedInstructions" name="DetailedInstructions"    />
								</div>
					
								<div class="form-group">
									<label for="TestingTemplate_Title">{{l("Title")}} *</label>
									<input type="text" id="TestingTemplate_Title" class="form-control" [(ngModel)]="testingTemplate.title" name="Title"     required/>
								</div>
					
								<div class="form-group">
									<label for="TestingTemplate_Frequency">{{l("Frequency")}}</label>
									<select class="form-control" name="Frequency" id="TestingTemplate_Frequency" [(ngModel)]="testingTemplate.frequency">
									<option value="0">{{l('Daily')}}</option>

									<option value="1">{{l('Weekly')}}</option>

									<option value="2">{{l('Monthly')}}</option>

									<option value="3">{{l('Quarterly')}}</option>

									<option value="4">{{l('Yearly')}}</option>


									</select>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!testingTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<testingTemplateDepartmentRiskControlLookupTableModal #testingTemplateDepartmentRiskControlLookupTableModal (modalSave)="getNewDepartmentRiskControlId()"></testingTemplateDepartmentRiskControlLookupTableModal>
		 
</div>