<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab heading="General">
                        <div class="form-group">
                            <label for="TestingTemplate_Title">{{l("Title")}} </label>
                            <input type="text" readonly id="TestingTemplate_Title" class="form-control" [(ngModel)]="item.testingTemplate.title" name="Title" />
                        </div>

                        <div class="form-group">
                            <label for="TestingTemplate_DetailedInstructions">{{l("DetailedInstructions")}}</label>
                            <textarea type="text" readonly rows="10" id="TestingTemplate_DetailedInstructions" class="form-control" [(ngModel)]="item.testingTemplate.detailedInstructions" name="DetailedInstructions"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="TestingTemplate_Title">{{l("Frequency")}} </label>
                            <input type="text" readonly id="TestingTemplate_Frequency" class="form-control" [(ngModel)]="item.testingTemplate.frequency" name="frequency" />
                        </div>

                        <div class="form-group">
                            <label for="TestingTemplate_Title">Time to complete (Days) </label>
                            <input type="number" readonly id="TestingTemplate_Time_To_Complete" class="form-control" [(ngModel)]="item.testingTemplate.daysToComplete" name="DaysToComplete" />
                        </div>

                        <div class="form-group">
                            <label for="TestingTemplate_Title">Sample Size</label>
                            <input type="number" min="0" id="TestingTemplate_SampleSize" class="form-control" [(ngModel)]="item.testingTemplate.sampleSize" name="SampleSize" readonly />
                        </div>

                        <div class="form-group m-form__group">
                            <label for="ExceptionTypeName">Select Default Exception Type</label>
                            <div class="input-group">
                                <input class="form-control" id="ExceptionTypeName" name="exceptionTypeName" [(ngModel)]="exceptionTypeName" type="text" disabled>
                            </div>
                        </div>


                    </tab>
                    <tab heading="Test Attributes">
                        <div class="form-group">
     
                            <div>
                                <table class="table table-striped">
                                    <tr>
                                        <th>
                                            Attribute Question(s)
                                        </th>
                                 
                                    </tr>
                                    <tr *ngFor="let x of item.attributes">
                                        <td>{{x}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                   
                    </tab>
                </tabset>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
