<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #departmentRiskControlForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Attach Controls to Process Risks
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header" (click)="showProcessCard = !showProcessCard; showRiskCard = false;">Process</div>
                        <div class="card-body" *ngIf="showProcessCard">
                            <div class="form-group">
                                <label for="Process_Name">Process {{l("Name")}}</label>
                                <input type="text" readonly id="Process_Name" class="form-control" value="{{process.name}}"
                                       name="Name" />
                            </div>

                            <div class="form-group">
                                <label for="Process_Description">Process {{l("Description")}}</label>
                                <textarea id="Process_Description" class="form-control" readonly
                                          [(ngModel)]="process.description" name="Description" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="Process_Name">Department(s)</label>
                                <input type="text" readonly id="ProcessDepartments" class="form-control" value="{{organizationUnitDisplayName}}"
                                       name="Name" />
                            </div>

                            <div class="form-group">
                                <label for="Process_Name">Process Owner</label>
                                <input type="text" readonly id="Process_Owner" class="form-control" value="{{userName}}"
                                       name="Name" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="card bg-border-danger">
                        <div class="card-header bg-danger text-white" (click)="showRiskCard = !showRiskCard; showProcessCard = false;">Risk</div>
                        <div class="card-body" *ngIf="showRiskCard">
                            <div class="form-group">
                                <label for="Risk_Name">{{l("Name")}}</label>
                                <input type="text" readonly id="Risk_Name" class="form-control" value="{{risk.name}}" name="Name" required />
                            </div>

                            <div class="form-group">
                                <label for="Risk_Description">{{l("Description")}}</label>
                                <textarea id="Risk_Description" class="form-control" readonly rows="3" value="{{risk.description}}" name="Description"></textarea>
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="Risk_Name">Likelihood</label><br>
                                    <span *ngIf="risk.likelyhood" [style.background]="_appConsts.getLikelihoodStatusColor(risk.likelyhood)"
                                            class="kt-badge kt-badge--danger kt-badge--inline"
                                            data-placement="top">
                                        {{l('Likelihood_' + risk.likelyhood)}}
                                    </span>
                                </div>
                                
                                <div class="form-group col-6">
                                    <label for="Risk_Name">Impact</label><br>
                                    <span *ngIf="risk.impact" [style.background]="_appConsts.getLikelihoodStatusColor(risk.impact)"
                                            class="kt-badge kt-badge--danger kt-badge--inline"
                                            data-placement="top">
                                        {{l('Impact_' + risk.impact)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="card bg-border-success">
                        <div class="card-header bg-success text-white">Control</div>
                        <div class="card-body">
                            <div class="form-group m-form__group">
                                <label for="ControlCode">Attach this control to the risk</label>
                                <div class="input-group">
                                    <input class="form-control" id="ControlCode" name="controlCode" [(ngModel)]="controlCode" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectControlModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-outline-success btn-outline-hover-success" type="button" (click)="createControl()"><i class="fa fa-plus"></i> Add Control</button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" required name="departmentRiskControl.controlId" [(ngModel)]="departmentRiskControl.controlId" type="text" hidden>


                            <!--<div class="form-group">
                                <label for="DepartmentRiskControl_Frequency">{{l("Frequency")}}</label>
                                <select class="form-control" name="Frequency" id="DepartmentRiskControl_Frequency" [(ngModel)]="departmentRiskControl.frequency">
                                    <option value="0">{{l('Daily')}}</option>

                                    <option value="1">{{l('Weekly')}}</option>

                                    <option value="2">{{l('Monthly')}}</option>

                                    <option value="3">{{l('Quarterly')}}</option>

                                    <option value="4">{{l('Yearly')}}</option>


                                </select>
                            </div>-->

                            <div class="kt-checkbox-list">
                                <label for="departmentRisk_cascade" class="kt-checkbox">
                                    <input id="departmentRisk_cascade" type="checkbox" name="departmentRiskControl.cascade" [(ngModel)]="departmentRiskControl.cascade">
                                    Cascade this control to all sub-departments.
                                    <span></span>
                                </label>
                            </div>
                            <br />

                            <div *ngIf="departmentRiskControl.controlId" class="form-row">
                                <div class="col-12">
                                    <p>How would this control affect:</p>
                                </div>
                                <div class="form-group col-10">
                                    <label for="LikelihoodRange">1. Likelihood of the Risk : {{departmentRiskControl.likelyhood | percent:'1.0-0'}}</label>
                                    <input type="range" class="form-control-range"  name="LikelihoodRange" id="LikelihoodRange" class="custom-range" min="0" max="1" step="0.001" list="LikelihoodTickmarks"
                                        [(ngModel)]="departmentRiskControl.likelyhood">
                                    
                                    <datalist #LikelihoodTickmarks id="LikelihoodTickmarks">
                                        <option value="0" label="0%" title="The amount involved is less than 60,000" [style.color]="_appConsts.getLikelihoodStatusColor(5)"></option>
                                        <option value="0.25" label="25%" title="The amount involved is less than 200,000" [style.color]="_appConsts.getLikelihoodStatusColor(4)"></option>
                                        <option value="0.50" label="50%" title="The amount involved is less than 10,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(3)"></option>
                                        <option value="0.75" label="75%" title="The amount involved is less than 50,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(2)"></option>
                                        <option value="1" label="100%" title="The amount involved is greater than 50,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(1)"></option>
                                    </datalist>
                                </div>
                                <!-- <div class="col-lg-1"></div> -->
                                <div class="form-group col-10">
                                    <label for="ImpactRange">2. Impact of the Risk : {{departmentRiskControl.impact | percent:'1.0-0'}}</label>
                                    <input type="range" class="form-control-range" name="ImpactRange" id="ImpactRange" class="custom-range" min="0" max="1" step="0.001" list="ImpactTickmarks"
                                        [(ngModel)]="departmentRiskControl.impact">
        
                                    <datalist id="ImpactTickmarks">
                                        <option value="0" label="0%" title="The amount involved is less than 60,000" [style.color]="_appConsts.getLikelihoodStatusColor(5)"></option>
                                        <option value="0.25" label="25%" title="The amount involved is less than 200,000" [style.color]="_appConsts.getLikelihoodStatusColor(4)"></option>
                                        <option value="0.50" label="50%" title="The amount involved is less than 10,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(3)"></option>
                                        <option value="0.75" label="75%" title="The amount involved is less than 50,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(2)"></option>
                                        <option value="1" label="100%" title="The amount involved is greater than 50,000,000" [style.color]="_appConsts.getLikelihoodStatusColor(1)"></option>
                                    </datalist>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DepartmentRiskControl_Notes">{{l("Notes")}}</label>
                                <textarea type="text" rows="5" id="DepartmentRiskControl_Notes" class="form-control" [(ngModel)]="departmentRiskControl.notes" name="Notes"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!departmentRiskControlForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <!-- <departmentRiskControlDepartmentRiskLookupTableModal #departmentRiskControlDepartmentRiskLookupTableModal (modalSave)="getNewDepartmentRiskId()"></departmentRiskControlDepartmentRiskLookupTableModal> -->
    <departmentRiskControlControlLookupTableModal #departmentRiskControlControlLookupTableModal (modalSave)="getNewControlId()"></departmentRiskControlControlLookupTableModal>
    <createOrEditControlModal #createOrEditControlModal (modalSave)="saveNewControlId($event)"></createOrEditControlModal>
</div>
