<div class="kt-footer kt-grid__item" id="kt_footer">
    <div [class]="containerClass" *ngIf="useBottomDiv">
        <div class="kt-footer__bottom  mt-2" style="width: 100%">
            <div class="kt-footer__menu pull-right">
                <span class="pull-right" style="margin-top: 5px; display: contents;">
                    Developed by
                    <img src="/assets/common/images/pwc-logo.png" class="" style="margin-top: -15px;" height="35px">
                </span>
            </div>
            <div class="kt-footer__copyright" >
                Integrated Governance Risk and Compliance Solution | <i class="fa fa-copyright  mx-1 mt-1"></i> 2020
            </div>
        </div>
    </div>
    <div [class]="containerClass" *ngIf="!useBottomDiv">
        <div class="kt-footer__wrapper  mt-2" style="width: 100%">
            <div class="kt-footer__menu pull-right">
                <span class="pull-right" style="margin-top: 5px; display: contents;">
                    Developed by
                    <img src="/assets/common/images/pwc-logo.png" class="" style="margin-top: -15px;" height="35px">
                </span>
            </div>
            <div class="kt-footer__copyright"  >
                Integrated Governance Risk and Compliance Solution | <i class="fa fa-copyright  mx-1 mt-1"></i> 2020
            </div>
        </div>
    </div>
</div>