<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #workingPaperNewForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="workingPaperNew.id">Edit Working Paper</span>
                        <span *ngIf="!workingPaperNew.id">New Working Paper</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <tabset>
                        <tab heading="General">
                            <div class="form-group m-form__group">
                                <label for="TestingTemplateCode">Select {{l("TestingTemplate")}} to leverage *</label>
                                <div class="input-group">
                                    <input class="form-control" id="TestingTemplateCode" name="testingTemplateCode" [(ngModel)]="testingTemplateCode" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectTestingTemplateModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger btn-icon" type="button" (click)="setTestingTemplateIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" required name="workingPaperNew.testingTemplateId" [(ngModel)]="workingPaperNew.testingTemplateId" type="text" hidden>

                            <div class="form-group m-form__group">
                                <label for="OrganizationUnitDisplayName">Select Department to review * </label>
                                <div class="input-group">
                                    <input class="form-control" id="OrganizationUnitDisplayName" name="organizationUnitDisplayName" [(ngModel)]="organizationUnitDisplayName" type="text" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary blue" (click)="openSelectOrganizationUnitModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                    </div> <div class="input-group-prepend">
                                        <button class="btn btn-danger btn-icon" type="button" (click)="setOrganizationUnitIdNull()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" required name="workingPaperNew.organizationUnitId" [(ngModel)]="workingPaperNew.organizationUnitId" type="text" hidden>





                        </tab>
                        <!--<tab heading="Risk and Controls">
                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">{{l("Comment")}}</label>
                                <textarea type="text" id="WorkingPaperNew_Comment" class="form-control" [(ngModel)]="workingPaperNew.comment" name="Comment"></textarea>
                            </div>
                        </tab>-->
                        <tab heading="Testing Sheet">
                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">Title</label>
                                <input readonly type="text" id="WorkingPaperNew_title" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.title" name="title" />
                            </div>

                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">Detailed Instructions</label>
                                <textarea readonly rows="5" type="text" id="detailedInst" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.detailedInstructions" name="detailedInst"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">Sample Size</label>
                                <input readonly type="number" id="WorkingPaperNew_sz" class="form-control" [(ngModel)]="testingTemplate.testingTemplate.sampleSize" name="sz" />
                            </div>

                            <hr />
                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">Sample Number</label>
                                <input readonly type="number" id="sampleId" class="form-control" [(ngModel)]="sampleId" name="sample" />
                            </div>

                            <table class="table">
                                <tr>
                                    <th>Test Attributes</th>
                                    <th>Response</th>
                                </tr>
                                <tr *ngFor="let x of attributes">
                                    <td>{{x.name}}</td>
                                    <td>
                                        <select class="form-control" name="result" [(ngModel)]="x.value">
                                            <option value="false">False</option>
                                            <option value="true">True</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <button type="button" class="btn btn-default" (click)="addResult()">Add Result</button>
                                <!--<button type="button" class="btn btn-danger" (click)="createException()">Log Exception</button>-->
                            </div>



                        </tab>
                        <tab heading="Attachments">
                            <div class="form-group">
                                <label for="WorkingPaperNew_Comment">Attach Document</label>
                                <input readonly type="file" id="attachDoc" class="form-control" [(ngModel)]="attachDocument" name="ad" />
                            </div>
                        </tab>
                    </tabset>

                    <!--<br />
                    <hr />
                    <br />
                    <div class="form-group">
                        <label for="WorkingPaperNew_Comment">{{l("Comment")}}</label>
                        <textarea type="text" id="WorkingPaperNew_Comment" class="form-control" [(ngModel)]="workingPaperNew.comment" name="Comment"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="WorkingPaperNew_Score">{{l("Score")}}</label>
                        <input readonly type="number" id="WorkingPaperNew_Score" class="form-control" [(ngModel)]="workingPaperNew.score" name="Score" />
                    </div>-->

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!workingPaperNewForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<workingPaperNewTestingTemplateLookupTableModal #workingPaperNewTestingTemplateLookupTableModal (modalSave)="getNewTestingTemplateId()"></workingPaperNewTestingTemplateLookupTableModal>
		 <workingPaperNewOrganizationUnitLookupTableModal #workingPaperNewOrganizationUnitLookupTableModal (modalSave)="getNewOrganizationUnitId()"></workingPaperNewOrganizationUnitLookupTableModal>
		 <workingPaperNewUserLookupTableModal #workingPaperNewUserLookupTableModal (modalSave)="getNewCompletedUserId()"></workingPaperNewUserLookupTableModal>
		 <workingPaperNewUserLookupTableModal #workingPaperNewUserLookupTableModal2 (modalSave)="getNewReviewedUserId()"></workingPaperNewUserLookupTableModal>
		 
</div>
