<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #workingPaperNewForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="workingPaperNew.id">{{l("EditWorkingPaperNew")}}</span>
                        <span *ngIf="!workingPaperNew.id">{{l("CreateNewWorkingPaperNew")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="TestingTemplateCode">{{l("TestingTemplate")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TestingTemplateCode" name="testingTemplateCode" [(ngModel)]="testingTemplateCode" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTestingTemplateModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTestingTemplateIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workingPaperNew.testingTemplateId" [(ngModel)]="workingPaperNew.testingTemplateId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="OrganizationUnitDisplayName">{{l("OrganizationUnit")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="OrganizationUnitDisplayName" name="organizationUnitDisplayName" [(ngModel)]="organizationUnitDisplayName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectOrganizationUnitModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setOrganizationUnitIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workingPaperNew.organizationUnitId" [(ngModel)]="workingPaperNew.organizationUnitId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setCompletedUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workingPaperNew.completedUserId" [(ngModel)]="workingPaperNew.completedUserId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName2">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName2" name="userName2" [(ngModel)]="userName2" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal2()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setReviewedUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workingPaperNew.reviewedUserId" [(ngModel)]="workingPaperNew.reviewedUserId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="WorkingPaperNew_Code">{{l("Code")}}</label>
									<input type="text" id="WorkingPaperNew_Code" class="form-control" [(ngModel)]="workingPaperNew.code" name="Code"    />
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_Comment">{{l("Comment")}}</label>
									<input type="text" id="WorkingPaperNew_Comment" class="form-control" [(ngModel)]="workingPaperNew.comment" name="Comment"    />
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_TaskDate">{{l("TaskDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="workingPaperNew.taskDate._d" id="WorkingPaperNew_TaskDate" name="WorkingPaperNew_TaskDate">
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_DueDate">{{l("DueDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="workingPaperNew.dueDate._d" id="WorkingPaperNew_DueDate" name="WorkingPaperNew_DueDate">
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_TaskStatus">{{l("TaskStatus")}}</label>
									<select class="form-control" name="TaskStatus" id="WorkingPaperNew_TaskStatus" [(ngModel)]="workingPaperNew.taskStatus">
									<option value="0">{{l('Completed')}}</option>

									<option value="1">{{l('PendingReview')}}</option>

									<option value="2">{{l('Rejected')}}</option>

									<option value="3">{{l('Approved')}}</option>


									</select>
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_Score">{{l("Score")}}</label>
									<input type="number" id="WorkingPaperNew_Score" class="form-control" [(ngModel)]="workingPaperNew.score" name="Score"  />
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_ReviewDate">{{l("ReviewDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="workingPaperNew.reviewDate._d" id="WorkingPaperNew_ReviewDate" name="WorkingPaperNew_ReviewDate">
								</div>
					
								<div class="form-group">
									<label for="WorkingPaperNew_CompletionDate">{{l("CompletionDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="completionDate" id="WorkingPaperNew_CompletionDate" name="WorkingPaperNew_CompletionDate">
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!workingPaperNewForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<workingPaperNewTestingTemplateLookupTableModal #workingPaperNewTestingTemplateLookupTableModal (modalSave)="getNewTestingTemplateId()"></workingPaperNewTestingTemplateLookupTableModal>
		 <workingPaperNewOrganizationUnitLookupTableModal #workingPaperNewOrganizationUnitLookupTableModal (modalSave)="getNewOrganizationUnitId()"></workingPaperNewOrganizationUnitLookupTableModal>
		 <workingPaperNewUserLookupTableModal #workingPaperNewUserLookupTableModal (modalSave)="getNewCompletedUserId()"></workingPaperNewUserLookupTableModal>
		 <workingPaperNewUserLookupTableModal #workingPaperNewUserLookupTableModal2 (modalSave)="getNewReviewedUserId()"></workingPaperNewUserLookupTableModal>
		 
</div>