<div class="row">
    <div class="col-12">
        <button
            *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit && !isViewOnly"
            (click)="addRiskToUnit()" class="btn btn-danger float-right mb-3">
            <i class="fa fa-plus"></i> Add Risk
        </button>
    </div>
    <div class="col-12">

        <div>
            <div *ngIf="loadingRisk" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                    style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                <div class="card" *ngFor="let risk of deptRisks; let r = index;">
                    <div class="card-header" id="headingOne{{risk.risk.processRisk.id}}">
                        <div class="card-title" [ngClass]="{collapsed: !risk.isActive}" (click)="toggleAccordion(r)"
                            data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false"
                            aria-controls="collapseOne4">
                            <i class="flaticon-warning-sign kt-font-danger"></i>  <span class="kt-font-danger">{{risk.risk.riskName}}</span>
                            <span *ngIf="_organizationUnit.id != risk.risk.processRisk.processId"
                                class="kt-badge kt-badge--brand kt-badge--inline ml-3" data-toggle="tooltip"
                                title="This process was inherited from a parent department." data-placement="top">
                                Inherited
                            </span>
                            <span *ngIf="risk.risk.severity == 'High'"
                                        class="kt-badge kt-badge--brand kt-badge--inline bg-danger ml-3 pull-right">{{risk.risk.severity}}</span>
                                    <span *ngIf="risk.risk.severity == 'Medium'"
                                        class="kt-badge kt-badge--brand kt-badge--inline bg-warning ml-3 pull-right">{{risk.risk.severity}}</span>
                                    <span *ngIf="risk.risk.severity == 'Low'"
                                        class="kt-badge kt-badge--brand kt-badge--inline kt-bg-light-warning ml-3 pull-right">{{risk.risk.severity}}</span>
                        </div>
                    </div>
                    <div id="collapseOne{{risk.risk.processRisk.id}}" class="collapse" [ngClass]="{show: risk.isActive}"
                        aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                        <div class="card-body">
                            <div *ngIf="loadingRisk" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <span class="kt-font-success"> <i  class="fa fa-check-square"></i>   Controls</span>
                            <div class="pull-right">
                                <div *ngIf="!isViewOnly" class="btn-group m-btn-group m-btn-group--pill" dropdown
                                    container="body">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="addControlToRisk(null,risk.risk.processRisk.id, risk.risk.processRisk.processId, risk.risk.processRisk.riskId)">
                                        <i class="fa fa-plus"></i> Add Control
                                    </button>
                                    <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split"
                                        dropdownToggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" *dropdownMenu>
                                        <li *ngIf="_organizationUnit.id == risk.risk.processRisk.processId">
                                            <a href="javascript:;" (click)="deleteRisk(risk.risk.processRisk.id)">
                                                {{l('Delete Risk')}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div *ngIf="loadingControls" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="table-responsive">
                                <div class="table table-hover">
                                    <div *ngFor="let control of riskControls">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <span class="kt-font-success"> {{ control.controlName }}</span>
                                                </div>
                                                <div class="col-lg-3">
                                                    <button type="button" class="btn btn-primary btn-sm pull-right"
                                                        (click)="createTestingTemplate(control.processRiskControl.id)">
                                                        <i class="fa fa-plus"></i> Add Testing Template
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="pl-5">
                                                <p class="form-text kt-font-brand text-muted"><i class="fa fa-cogs"></i>  Testing Templates</p>
                                                <hr>
                                                <p *ngIf="control.testingTemplates.items.length == 0">No template found
                                                </p>
                                                <div *ngFor="let template of control.testingTemplates.items"
                                                    class="row">
                                                    <div class="col-md-10 kt-font-brand">
                                                        <p>
                                                            {{ template.testingTemplate.title }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-separator kt-separator--border-solid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div *ngIf="!organizationUnit" class="text-muted">
    Select a process to see risks.
</div>

<app-create-or-edit-process-risk #createOrEditProcessRiskModal (modalSave)="reloadPage()">
</app-create-or-edit-process-risk>
<app-create-or-edit-process-risk-control #createOrEditProcessRiskControlModal (modalSave)="reloadPage()">
</app-create-or-edit-process-risk-control>

<createOrEditTestingTemplateModal #createOrEditTestingTemplateModal (modalSave)="reloadPage()">
</createOrEditTestingTemplateModal>
