<div class="row">
    <div class="col-12">
        <button
            *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit && !isViewOnly"
            (click)="addRiskToUnit()" class="btn btn-danger float-right mb-3">
            <i class="fa fa-plus"></i> Add Risk
        </button>
    </div>
    <div class="col-12">

        <div>
            <div *ngIf="loadingRisk" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                    style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="row" >
                <div class="col-12 px-4" *ngFor="let risk of deptRisks; let r = index;">
                    <div class="bg-border-danger mb-3 risk-card">
                        <div class="row px-3">
                            <div class="col-md-4 py-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a href="javascript:void(0);" (click)="toggleAccordion(r)"
                                            class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                            {{risk.risk.riskName}}
                                        </a>
                                        <span class="text-muted d-block">Risk</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2  py-3">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100%;text-align: right;">
                                        <span [style.background]="_appConsts.getLikelihoodStatusColor(risk.risk.processRisk.likelyhood)"
                                                class="kt-badge kt-badge--danger kt-badge--inline"
                                                data-placement="top">
                                            {{l('Likelihood_' + risk.risk.processRisk.likelyhood)}}
                                        </span>
                                        <span class="text-muted d-block">Likelihood</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 py-3">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100%;text-align: right;">
                                        <span [style.background]="_appConsts.getLikelihoodStatusColor(risk.risk.processRisk.impact)"
                                                class="kt-badge kt-badge--danger kt-badge--inline"
                                                data-placement="top">
                                            {{l('Impact_' + risk.risk.processRisk.impact)}}
                                        </span>
                                        <span class="text-muted d-block">Impact</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 py-3">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100%">
                                        <h4 class="mb-0 text-right">{{risk.risk.inherentRiskScore}}</h4>
                                        <span class="text-muted d-block text-right">Inherent Risk</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 py-3">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100%">
                                        <h4 class="mb-0 text-right">{{risk.risk.residualRiskScore | number:'1.2-2'}}</h4>
                                        <span class="text-muted d-block text-right">Residual Risk</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="risk.isActive" class="px-2 pb-2">
                            <hr>
                            <div *ngIf="loadingControls" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="pb-2">
                                <div *ngIf="!isViewOnly" class="btn-group m-btn-group m-btn-group--pill pull-right" dropdown
                                    container="body">
                                    <button type="button" class="btn btn-success btn-sm"
                                        (click)="addControlToRisk(null,risk.risk.processRisk.id, risk.risk.processRisk.processId, risk.risk.processRisk.riskId)">
                                        <i class="fa fa-plus"></i> Add Control
                                    </button>
                                    <button class="dropdown-toggle btn btn-sm btn-success dropdown-toggle-split"
                                        dropdownToggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" *dropdownMenu>
                                        <li *ngIf="_organizationUnit.id == risk.risk.processRisk.processId">
                                            <a href="javascript:;" (click)="deleteRisk(risk.risk.processRisk.id)">
                                                {{l('Delete Risk')}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <br><br>
                            </div>
                            <div class="bg-border-success py-2" *ngFor="let control of riskControls; let c = index;">
                                <div class="row">
                                    <div class="col-md-1 py-3"></div>
                                    <div class="col-md-7 py-3">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <a href="javascript:void(0);" (click)="toggleControlAccordion(c)"
                                                    class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                    {{ control.control.controlName }}
                                                </a>
                                                <span class="text-muted d-block">Control</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2  py-3">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <!-- <span [style.background]="_appConsts.getLikelihoodStatusColor(control.control.processRiskControl.likelyhood)"
                                                        class="kt-badge kt-badge--danger kt-badge--inline"
                                                        data-placement="top">
                                                    {{l('Likelihood_' + control.control.processRiskControl.likelyhood)}}
                                                </span> -->
                                                {{control.control.processRiskControl.likelyhood | percent:'1.0-0'}}
                                                <span class="text-muted d-block">Likelihood</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 py-3">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <!-- <span [style.background]="_appConsts.getLikelihoodStatusColor(control.control.processRiskControl.impact)"
                                                        class="kt-badge kt-badge--danger kt-badge--inline"
                                                        data-placement="top">
                                                    {{l('Impact_' + control.control.processRiskControl.impact)}}
                                                </span> -->
                                                {{control.control.processRiskControl.impact | percent:'1.0-0'}}
                                                <span class="text-muted d-block">Impact</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="control.isActive" class="mx-2">
                                    <hr>
                                    <button type="button" class="btn btn-primary btn-sm pull-right" 
                                        (click)="createTestingTemplate(control.control.processRiskControl.id)">
                                        <i class="fa fa-plus"></i> Add Testing Template
                                    </button><br><br>
                                    <div class="table-responsive">
                                        <div class="table table-hover">
                                            <p *ngIf="control.control.testingTemplates.items.length == 0">No template found</p>
                                            <table class="table table-hover">
                                                <tr *ngFor="let template of control.control.testingTemplates.items">
                                                    <td style="width: 20%;"></td>
                                                    <td style="width: 60%;">
                                                        {{ template.testingTemplate.title }}
                                                    </td>
                                                    <td style="width: 20%;">
                                                        <button type="button" class="btn btn-primary btn-outline btn-sm pull-right" 
                                                            (click)="review(template.testingTemplate.id)">
                                                            Review
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Controls -->
                </div>
            </div>
            <!-- <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                <div class="card" *ngFor="let risk of deptRisks; let r = index;">
                    <div class="card-header" id="headingOne{{risk.risk.processRisk.id}}">
                        <div class="card-title" [ngClass]="{collapsed: !risk.isActive}" (click)="toggleAccordion(r)"
                            data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false"
                            aria-controls="collapseOne4">
                            <i class="flaticon-warning-sign kt-font-danger"></i>  <span class="kt-font-danger">{{risk.risk.riskName}}</span>
                            <span *ngIf="_organizationUnit.id != risk.risk.processRisk.processId"
                                class="kt-badge kt-badge--brand kt-badge--inline ml-3" data-toggle="tooltip"
                                title="This process was inherited from a parent department." data-placement="top">
                                Inherited
                            </span>
                            <span *ngIf="risk.risk.severity == 'High'"
                                        class="kt-badge kt-badge--brand kt-badge--inline bg-danger ml-3 pull-right">{{risk.risk.severity}}</span>
                                    <span *ngIf="risk.risk.severity == 'Medium'"
                                        class="kt-badge kt-badge--brand kt-badge--inline bg-warning ml-3 pull-right">{{risk.risk.severity}}</span>
                                    <span *ngIf="risk.risk.severity == 'Low'"
                                        class="kt-badge kt-badge--brand kt-badge--inline kt-bg-light-warning ml-3 pull-right">{{risk.risk.severity}}</span>
                        </div>
                    </div>
                    <div id="collapseOne{{risk.risk.processRisk.id}}" class="collapse" [ngClass]="{show: risk.isActive}"
                        aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                        <div class="card-body">
                            <div *ngIf="loadingRisk" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="">
                                <div *ngIf="!isViewOnly" class="btn-group m-btn-group m-btn-group--pill" dropdown
                                    container="body">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="addControlToRisk(null,risk.risk.processRisk.id, risk.risk.processRisk.processId, risk.risk.processRisk.riskId)">
                                        <i class="fa fa-plus"></i> Add Control
                                    </button>
                                    <button class="dropdown-toggle btn btn-sm btn-primary dropdown-toggle-split"
                                        dropdownToggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" *dropdownMenu>
                                        <li *ngIf="_organizationUnit.id == risk.risk.processRisk.processId">
                                            <a href="javascript:;" (click)="deleteRisk(risk.risk.processRisk.id)">
                                                {{l('Delete Risk')}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div *ngIf="loadingControls" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>

                            <div class="accordion accordion-toggle-arrow" id="accordionExample6">
                                <div class="card" *ngFor="let control of riskControls; let c = index;">
                                    <div class="card-header" id="heading{{c}}">
                                        <div class="card-title" [ngClass]="{collapsed: !control.isActive}" (click)="toggleControlAccordion(c)">
                                            <i class="fa fa-cog pr-2 kt-font-success"></i>
                                            <span class="pr-2 kt-font-success"> Control: {{ control.control.controlName }}</span>
                                            <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-success">
                                                {{frequencyEnum[control.control.processRiskControl.frequency]}}
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapse{{c}}" class="collapse" [ngClass]="{show: control.isActive}">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary btn-sm" 
                                                (click)="createTestingTemplate(control.control.processRiskControl.id)">
                                                <i class="fa fa-plus"></i> Add Testing Template
                                            </button><br><br>
                                            <div class="table-responsive">
                                                <div class="table table-hover">
                                                    <p *ngIf="control.control.testingTemplates.items.length == 0">No template found</p>
                                                    <table class="table table-hover">
                                                        <tr *ngFor="let template of control.control.testingTemplates.items">
                                                            <td style="width: 70%;">
                                                                {{ template.testingTemplate.title }}
                                                            </td>
                                                            <td style="width: 30%;">
                                                                <button type="button" class="btn btn-primary btn-outline btn-sm pull-right" 
                                                                    (click)="review(template.testingTemplate.id)">
                                                                    Review
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="riskControls.length <= 0" class="text-muted">
                                    No control defined
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        
    </div>
</div>
<div *ngIf="!organizationUnit" class="text-muted">
    Select a process to see risks.
</div>

<app-create-or-edit-process-risk #createOrEditProcessRiskModal (modalSave)="reloadPage()">
</app-create-or-edit-process-risk>
<app-create-or-edit-process-risk-control #createOrEditProcessRiskControlModal (modalSave)="reloadPage()">
</app-create-or-edit-process-risk-control>

<createOrEditTestingTemplateModal #createOrEditTestingTemplateModal (modalSave)="reloadPage()">
</createOrEditTestingTemplateModal>
