<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Exceptions")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                  Manage the lifecycle of exceptions here.
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                        <button *ngIf="isGranted('Pages.ExceptionIncidents.Create')" (click)="createExceptionIncident()"
                                class="btn btn-primary blue">
                            <i class="fa fa-plus"></i> Log Exception
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getExceptionIncidents()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="kt-separator kt-separator--border-dashed"></div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinDateFilter">{{l("DateRange")}}</label>
                                        <div class="input-group">
                                            <input class="form-control m-input" id="MinDateFilter" name="MinDateFilter" type="datetime" bsDatepicker placeholder="{{l('MinValue')}}" [(ngModel)]="minDateFilter">
                                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                            <input class="form-control m-input" id="MaxDateFilter" name="MaxDateFilter" type="datetime" bsDatepicker placeholder="{{l('MaxValue')}}" [(ngModel)]="maxDateFilter">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="StatusFilterSelect">{{l("Status")}}</label>
                                    <select class="form-control" name="StatusFilter" id="StatusFilterSelect" [(ngModel)]="statusFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l('Open')}}</option>

                                        <option value="1">{{l('Closed')}}</option>


                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinClosureDateFilter">{{l("ClosureDateRange")}}</label>
                                        <div class="input-group">
                                            <input class="form-control m-input" id="MinClosureDateFilter" name="MinClosureDateFilter" type="datetime" bsDatepicker placeholder="{{l('MinValue')}}" [(ngModel)]="minClosureDateFilter">
                                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                            <input class="form-control m-input" id="MaxClosureDateFilter" name="MaxClosureDateFilter" type="datetime" bsDatepicker placeholder="{{l('MaxValue')}}" [(ngModel)]="maxClosureDateFilter">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ExceptionTypeNameFilter">({{l("ExceptionType")}}) {{l("Name")}}</label>
                                        <input type="text" class="form-control" id="ExceptionTypeNameFilter" name="exceptionTypeNameFilter" [(ngModel)]="exceptionTypeNameFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
                                        <input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="TestingTemplateCodeFilter">({{l("TestingTemplate")}}) {{l("Code")}}</label>
                                        <input type="text" class="form-control" id="TestingTemplateCodeFilter" name="testingTemplateCodeFilter" [(ngModel)]="testingTemplateCodeFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="OrganizationUnitDisplayNameFilter">Department {{l("DisplayName")}}</label>
                                        <input type="text" class="form-control" id="OrganizationUnitDisplayNameFilter" name="organizationUnitDisplayNameFilter" [(ngModel)]="organizationUnitDisplayNameFilter">
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12"
                             [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable
                                     (onLazyLoad)="getExceptionIncidents($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="!isGrantedAny('Pages.ExceptionIncidents.Edit', 'Pages.ExceptionIncidents.Delete')">{{l('Actions')}}</th>
                                        <th style="width: 100px" pSortableColumn="date">
                                            {{l('Date')}}
                                            <p-sortIcon field="exceptionIncident.date"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="code">
                                            {{l('Code')}}
                                            <p-sortIcon field="exceptionIncident.code"></p-sortIcon>
                                        </th>
                                        <th style="width: 350px" pSortableColumn="exceptionTypeFk.name">
                                            Exception Type
                                            <p-sortIcon field="exceptionTypeName"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="organizationUnitFk.displayName">
                                            Business Unit
                                            <p-sortIcon field="organizationUnitDisplayName"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="raisedByFk.name">
                                            Raised By
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>

                                        <th style="width: 100px" pSortableColumn="status">
                                            {{l('Status')}}
                                            <p-sortIcon field="exceptionIncident.status"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.ExceptionIncidents.Edit', 'Pages.ExceptionIncidents.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <!--<li>
                                                        <a href="javascript:;"
                                                           (click)="viewExceptionIncidentModal.show(record)">{{l('View')}}</a>
                                                    </li>-->
                                                    <li>
                                                        <a href="javascript:;" *ngIf="record.exceptionIncident.status == '0'"
                                                           (click)="createOrEditExceptionIncidentModal.show(record.exceptionIncident.id)">Resolve</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="record.exceptionIncident.status == '0'"
                                                           (click)="view(record.exceptionIncident.id)">Close</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="record.exceptionIncident.status == '1'"
                                                           (click)="view(record.exceptionIncident.id)">Close</a>
                                                    </li>
                                                    <!--<li>
        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ExceptionIncidents.Delete')"
           (click)="deleteExceptionIncident(record.exceptionIncident)">{{l('Delete')}}</a>
    </li>-->
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Date')}}</span>
                                            <span *ngIf="record.exceptionIncident.date">
                                                {{record.exceptionIncident.date | momentFormat:'L'}}
                                            </span>
                                            <span *ngIf="!record.exceptionIncident.date">-</span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Code')}}</span>
                                            {{record.exceptionIncident.code}}
                                        </td>
                                        <td style="width:350px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.exceptionTypeName}}
                                        </td>
                                        <td style="width:250px">
                                            <span class="ui-column-title"> {{l('DisplayName')}}</span>
                                            {{record.organizationUnitDisplayName}}
                                        </td>
                                        <td style="width:200px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.userName}}
                                        </td>

                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Status')}}</span>
                                            <span *ngIf="record.exceptionIncident.status == '0'"
                                                  class="kt-badge kt-badge--brand kt-badge--inline badge-danger"
                                                  data-placement="top">
                                                {{l( status[record.exceptionIncident.status])}}
                                            </span>

                                            <span *ngIf="record.exceptionIncident.status == '1'"
                                                  class="kt-badge kt-badge--brand kt-badge--inline kt-badge--warning"
                                                  data-placement="top">
                                                {{l( status[record.exceptionIncident.status])}}
                                            </span>

                                            <span *ngIf="record.exceptionIncident.status == '2'"
                                                  class="kt-badge kt-badge--brand kt-badge--inline kt-badge--success"
                                                  data-placement="top">
                                                {{l( status[record.exceptionIncident.status])}}
                                            </span>

                                        </td>


                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                             #paginator
                                             (onPageChange)="getExceptionIncidents($event)"
                                             [totalRecords]="primengTableHelper.totalRecordsCount"
                                             [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditExceptionIncidentModal #createOrEditExceptionIncidentModal (modalSave)="getExceptionIncidents()"></createOrEditExceptionIncidentModal>
        <viewExceptionIncidentModal #viewExceptionIncidentModal></viewExceptionIncidentModal>

    </div>
</div>
