:root {
    --primary-color: #e3000f; /* #022e64; */
    --primary-dark: #000;
    --primary-light: #000;
    --accent-color: #e0ad0f;
    --dark: #2C363F;
    --light: #FCF7F8;
}

/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px!important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header, .swal2-popup.swal2-toast .swal2-title, .swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;  
    margin: 0 !important;
}
.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important; 
}
@keyframes glowing {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.modal-header {
    background-color: var(--primary-color) !important;
}

.modal .modal-content .modal-header .modal-title {
    color: var(--light) !important;
}

.modal-content {
    border: 1px solid var(--primary-color) !important; 
}

.modal .modal-content .modal-header .close {
    color: var(--light) !important;
}

.btn-primary {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

















body{margin-top:20px;
    background:#eee;
    }
    /* PROJECTS */
    .project-people,
    .project-actions {
      text-align: right;
      vertical-align: middle;
    }
    dd.project-people {
      text-align: left;
      margin-top: 5px;
    }
    .project-people img {
      width: 32px;
      height: 32px;
    }
    .project-title a {
      font-size: 14px;
      color: #676a6c;
      font-weight: 600;
    }
    .project-list table tr td {
      border-top: none;
      border-bottom: 1px solid #e7eaec;
      padding: 15px 10px;
      vertical-align: middle;
    }
    .project-manager .tag-list li a {
      font-size: 10px;
      background-color: white;
      padding: 5px 12px;
      color: inherit;
      border-radius: 2px;
      border: 1px solid #e7eaec;
      margin-right: 5px;
      margin-top: 5px;
      display: block;
    }
    .project-files li a {
      font-size: 11px;
      color: #676a6c;
      margin-left: 10px;
      line-height: 22px;
    }
    
    /* PROFILE */
    .profile-content {
      border-top: none !important;
    }
    .profile-stats {
      margin-right: 10px;
    }
    .profile-image {
      width: 120px;
      float: left;
    }
    .profile-image img {
      width: 96px;
      height: 96px;
    }
    .profile-info {
      margin-left: 120px;
    }
    .feed-activity-list .feed-element {
      border-bottom: 1px solid #e7eaec;
    }
    .feed-element:first-child {
      margin-top: 0;
    }
    .feed-element {
      padding-bottom: 15px;
    }
    .feed-element,
    .feed-element .media {
      margin-top: 15px;
    }
    .feed-element,
    .media-body {
      overflow: hidden;
    }
    .feed-element > .pull-left {
      margin-right: 10px;
    }
    .feed-element img.img-circle,
    .dropdown-messages-box img.img-circle {
      width: 38px;
      height: 38px;
    }
    .feed-element .well {
      border: 1px solid #e7eaec;
      box-shadow: none;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 10px 20px;
      font-size: 11px;
      line-height: 16px;
    }
    .feed-element .actions {
      margin-top: 10px;
    }
    .feed-element .photos {
      margin: 10px 0;
    }
    .feed-photo {
      max-height: 180px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .file-list li {
      padding: 5px 10px;
      font-size: 11px;
      border-radius: 2px;
      border: 1px solid #e7eaec;
      margin-bottom: 5px;
    }
    .file-list li a {
      color: inherit;
    }
    .file-list li a:hover {
      color: #1ab394;
    }
    .user-friends img {
      width: 42px;
      height: 42px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }
    ul.notes li,
    ul.tag-list li {
      list-style: none;
    }


    .table.table-vertical-center td, .table.table-vertical-center th {
        vertical-align: middle;
    }

    .table.table-head-custom thead th, .table.table-head-custom thead tr {
        font-weight: 600;
        color: #959cb6!important;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    .table.table-head-bg thead th, .table.table-head-bg thead tr {
        background-color: #f3f6f9;
        border-bottom: 0;
        letter-spacing: 1px;
    }

    .card.card-custom.card-stretch.gutter-b {
        height: calc(100% - 25px);
    }
    
    .card.card-custom.card-stretch {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch!important;
        -ms-flex-align: stretch!important;
        align-items: stretch!important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
    }
    .card.card-custom {
        -webkit-box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
        box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
        border: 0;
    }
    .gutter-b {
        margin-bottom: 25px;
    }
    .bgi-no-repeat {
        background-repeat: no-repeat;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #ecf0f3;
        border-radius: .42rem;
    }

    .font-size-h2 {
        font-size: 1.75rem!important;
    }
    
    .text-white {
        color: #fff!important;
    }
    .text-white {
        color: #fff!important;
    }
    .font-weight-bolder {
        font-weight: 600!important;
    }
    .mt-6, .my-6 {
        margin-top: 1.5rem!important;
    }
    .mb-0, .my-0 {
        margin-bottom: 0!important;
    }
    .d-block {
        display: block!important;
    }

    .font-size-sm {
        font-size: .925rem;
    }

    .bg-border-danger {
        border: 1px solid #fd397a !important;
    }

    .bg-border-success {
        border: 1px solid #1bc5bd!important;
    }

    .bg-border-warning {
        border: 1px solid #ffb822 !important;
    }

    .bg-border-primary {
        border: 1px solid #5867dd !important;
    }

    .bg-border-dark {
        border: 1px solid #000!important;
    }

    .kt-svg-icon.kt-svg-icon--white g [fill] {
        fill: #fff !important;
    }

    .hoverable {
        cursor: pointer;
    }