<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Map View")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{l("Map view header info")}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- <button (click)="goBack()" class="btn btn-outline-success">
                            <i class="fa fa-reply"></i> {{l("Back")}}
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <!--Begin::App-->
            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                <!--Begin:: App Aside Mobile Toggle-->
                <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                    <i class="la la-close"></i>
                </button>
                <!--End:: App Aside Mobile Toggle-->

                <!--Begin:: App Aside-->
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <!--begin:: Widgets/Applications/User/Profile4-->
                    <div class="kt-portlet kt-portlet--height-fluid-">
                        <div class="kt-portlet__body">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-4">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <img class="kt-widget__img kt-hidden"
                                            src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/300_21.jpg"
                                            alt="image">

                                        <div
                                            class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden-">
                                            JD
                                        </div>
                                    </div>
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <a href="#" class="kt-widget__username">
                                                Luca Doncic
                                            </a>
                                            <div class="kt-widget__button">
                                                <span class="btn btn-label-warning btn-sm">Active</span>
                                            </div>

                                            <div class="kt-widget__action">
                                                <a href="#" class="btn btn-icon btn-circle btn-label-facebook">
                                                    <i class="socicon-facebook"></i>
                                                </a>
                                                <a href="#" class="btn btn-icon btn-circle btn-label-twitter">
                                                    <i class="socicon-twitter"></i>
                                                </a>
                                                <a href="#" class="btn btn-icon btn-circle btn-label-google">
                                                    <i class="socicon-google"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__body">
                                    <a href="#" class="kt-widget__item kt-widget__item--active">
                                        Profile Overview
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Personal info
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Account info
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Change Passwort
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Email settings
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Saved Credit Cards
                                    </a>
                                    <a href="#" class="kt-widget__item">
                                        Tax information
                                    </a>
                                </div>
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Widgets/Applications/User/Profile4-->
                </div>
                <!--End:: App Aside-->

                <!--Begin:: App Content-->
                <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="kt-portlet kt-iconbox kt-iconbox--success kt-iconbox--animate-slower">
                                <div class="kt-portlet__body">
                                    <div class="kt-iconbox__body">
                                        <div class="kt-iconbox__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <path d="M22,17 L22,21 C22,22.1045695 21.1045695,23 20,23 L4,23 C2.8954305,23 2,22.1045695 2,21 L2,17 L6.27924078,17 L6.82339262,18.6324555 C7.09562072,19.4491398 7.8598984,20 8.72075922,20 L15.381966,20 C16.1395101,20 16.8320364,19.5719952 17.1708204,18.8944272 L18.118034,17 L22,17 Z" fill="#000000"/>
                                                    <path d="M2.5625,15 L5.92654389,9.01947752 C6.2807805,8.38972356 6.94714834,8 7.66969497,8 L16.330305,8 C17.0528517,8 17.7192195,8.38972356 18.0734561,9.01947752 L21.4375,15 L18.118034,15 C17.3604899,15 16.6679636,15.4280048 16.3291796,16.1055728 L15.381966,18 L8.72075922,18 L8.17660738,16.3675445 C7.90437928,15.5508602 7.1401016,15 6.27924078,15 L2.5625,15 Z" fill="#000000" opacity="0.3"/>
                                                    <path d="M11.1288761,0.733697713 L11.1288761,2.69017121 L9.12120481,2.69017121 C8.84506244,2.69017121 8.62120481,2.91402884 8.62120481,3.19017121 L8.62120481,4.21346991 C8.62120481,4.48961229 8.84506244,4.71346991 9.12120481,4.71346991 L11.1288761,4.71346991 L11.1288761,6.66994341 C11.1288761,6.94608579 11.3527337,7.16994341 11.6288761,7.16994341 C11.7471877,7.16994341 11.8616664,7.12798964 11.951961,7.05154023 L15.4576222,4.08341738 C15.6683723,3.90498251 15.6945689,3.58948575 15.5161341,3.37873564 C15.4982803,3.35764848 15.4787093,3.33807751 15.4576222,3.32022374 L11.951961,0.352100892 C11.7412109,0.173666017 11.4257142,0.199862688 11.2472793,0.410612793 C11.1708299,0.500907473 11.1288761,0.615386087 11.1288761,0.733697713 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 3.661508) rotate(-270.000000) translate(-11.959697, -3.661508) "/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="kt-iconbox__desc">
                                            <h3 class="kt-iconbox__title">
                                                <a class="kt-link" href="#">100</a>
                                            </h3>
                                            <div class="kt-iconbox__content">
                                                DATA COLLECTED
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="kt-portlet kt-iconbox kt-iconbox--primary kt-iconbox--animate-slow">
                                <div class="kt-portlet__body">
                                    <div class="kt-iconbox__body">
                                        <div class="kt-iconbox__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <path
                                                        d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                                                        fill="#000000" opacity="0.3"></path>
                                                    <path
                                                        d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                                                        fill="#000000"></path>
                                                </g>
                                            </svg> 
                                        </div>
                                        <div class="kt-iconbox__desc">
                                            <h3 class="kt-iconbox__title">
                                                <a class="kt-link" href="#">12</a>
                                            </h3>
                                            <div class="kt-iconbox__content">
                                                ACTIVITIES
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="kt-portlet kt-iconbox kt-iconbox--warning kt-iconbox--animate-fast">
                                <div class="kt-portlet__body">
                                    <div class="kt-iconbox__body">
                                        <div class="kt-iconbox__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"/>
                                                    <circle fill="#000000" opacity="0.3" cx="20.5" cy="12.5" r="1.5"/>
                                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 6.500000) rotate(-15.000000) translate(-12.000000, -6.500000) " x="3" y="3" width="18" height="7" rx="1"/>
                                                    <path d="M22,9.33681558 C21.5453723,9.12084552 21.0367986,9 20.5,9 C18.5670034,9 17,10.5670034 17,12.5 C17,14.4329966 18.5670034,16 20.5,16 C21.0367986,16 21.5453723,15.8791545 22,15.6631844 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,9.33681558 Z" fill="#000000"/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="kt-iconbox__desc">
                                            <h3 class="kt-iconbox__title">
                                                <a class="kt-link" href="javascript;">₦ 120,000</a>
                                            </h3>
                                            <div class="kt-iconbox__content">
                                               AMOUNT EARNED
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-12">
                            <!--begin:: Widgets/User Progress -->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <!-- <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            User Progress
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab"
                                                    href="#kt_widget31_tab1_content" role="tab">
                                                    Today
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#kt_widget31_tab2_content"
                                                    role="tab">
                                                    Week
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div class="kt-portlet__body" style="height: 50vh;">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="kt_widget31_tab1_content">
                                            <div class="kt-widget31">
                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_4.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Anna Strong
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Visual Designer,Google Inc
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>63%</span>
                                                                <span>London</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-brand" role="progressbar"
                                                                    style="width: 75%" aria-valuenow="75"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_14.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Milano Esco
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Product Designer, Apple Inc
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>33%</span>
                                                                <span>Paris</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-warning" role="progressbar"
                                                                    style="width: 55%" aria-valuenow="55"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_11.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Nick Bold
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Web Developer, Facebook Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>13%</span>
                                                                <span>London</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-info" role="progressbar"
                                                                    style="width: 35%" aria-valuenow="35"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_1.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Wiltor Delton
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Project Manager, Amazon Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <div class="kt-widget31__stats">
                                                                <span>93%</span>
                                                                <span>New York</span>
                                                            </div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-danger" role="progressbar"
                                                                    style="width: 45%" aria-valuenow="45"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_6.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Sam Stone
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Project Manager, Kilpo Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <div class="kt-widget31__stats">
                                                                <span>50%</span>
                                                                <span>New York</span>
                                                            </div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    style="width: 65%" aria-valuenow="65"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="kt_widget31_tab2_content">
                                            <div class="kt-widget31">
                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_11.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Nick Bold
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Web Developer, Facebook Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>13%</span>
                                                                <span>London</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-info" role="progressbar"
                                                                    style="width: 35%" aria-valuenow="35"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_1.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Wiltor Delton
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Project Manager, Amazon Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <div class="kt-widget31__stats">
                                                                <span>93%</span>
                                                                <span>New York</span>
                                                            </div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-danger" role="progressbar"
                                                                    style="width: 45%" aria-valuenow="45"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_14.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Milano Esco
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Product Designer, Apple Inc
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>33%</span>
                                                                <span>Paris</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-warning" role="progressbar"
                                                                    style="width: 55%" aria-valuenow="55"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_6.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Sam Stone
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Project Manager, Kilpo Inc
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <div class="kt-widget31__stats">
                                                                <span>50%</span>
                                                                <span>New York</span>
                                                            </div>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    style="width: 65%" aria-valuenow="65"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>

                                                <div class="kt-widget31__item">
                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__pic">
                                                            <img src="/metronic/themes/metronic/theme/default/demo1/dist/assets/media/users/100_4.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="kt-widget31__info">
                                                            <a href="#" class="kt-widget31__username">
                                                                Anna Strong
                                                            </a>
                                                            <p class="kt-widget31__text">
                                                                Visual Designer,Google Inc
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="kt-widget31__content">
                                                        <div class="kt-widget31__progress">
                                                            <a href="#" class="kt-widget31__stats">
                                                                <span>63%</span>
                                                                <span>London</span>
                                                            </a>
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-brand" role="progressbar"
                                                                    style="width: 75%" aria-valuenow="75"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <a href="#"
                                                            class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/User Progress -->
                        </div>
                    </div>
                </div>
                <!--End:: App Content-->
            </div>
            <!--End::App-->
        </div>
    </div>
</div>