<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Home</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        View activities to be performed at a glance.
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- <button (click)="goBack()" class="btn btn-outline-success">
                            <i class="fa fa-reply"></i> {{l("Back")}}
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                <!--Begin:: App Aside Mobile Toggle-->
                <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                    <i class="la la-close"></i>
                </button>
                <!--End:: App Aside Mobile Toggle-->

                <!--Begin:: App Aside-->
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <!--begin:: Widgets/Applications/User/Profile1-->
                    <div class="kt-portlet kt-portlet--height-fluid-">
                        <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-1">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <img src="/assets/common/images/default-profile-picture.png" alt="image"
                                            width="50px">
                                    </div>
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <a href="javascript:void(0);" class="kt-widget__username">
                                                Suleman Abdul
                                                <i class="flaticon2-correct kt-font-success"></i>
                                            </a>
                                            <span class="kt-widget__subtitle">
                                                Banking officer
                                            </span>
                                        </div>

                                        <div class="kt-widget__action">
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__body">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Staff Code:</span>
                                            <span class="kt-widget__data">NG001234</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Control Team:</span>
                                            <span class="kt-widget__data">Ikeja Cluster Control</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Unit:</span>
                                            <span class="kt-widget__data">Allen Avenue Branch</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Email:</span>
                                            <span class="kt-widget__data">asuleman@test.com</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Phone:</span>
                                            <span class="kt-widget__data">0809 123 4567</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Location:</span>
                                            <span class="kt-widget__data">Nigeria</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Widgets/Applications/User/Profile1-->

                    <!--begin:: Widgets/Order Statistics-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Rating
                                </h3>
                            </div>
                        </div>
                        <div class="">
                            <div class="kt-widget12">
                                <div class="kt-widget12__chart" style="height:200px; margin: 0; padding: 0;">
                                    <ngx-charts-polar-chart [scheme]="colorScheme" [xAxis]="xAxis" [yAxis]="yAxis"
                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [showGridLines]="showGridLines" [curve]="closedCurve" [labelTrim]="labelTrim"
                                        [rangeFillOpacity]="rangeFillOpacity" [results]="multi">
                                    </ngx-charts-polar-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Order Statistics-->
                </div>
                <!--End:: App Aside-->

                <!--Begin:: App Content-->
                <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                    <div class="row">
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 29-->
                            <div class="card card-custom bg-warning card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-info">
                                        <i class="fa fa-2x fa-exclamation-triangle text-white"></i>
                                    </span>
                                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">29</span>
                                    <span class="font-weight-bold text-white  font-size-sm">Open exceptions</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 29-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 30-->
                            <div class="card card-custom bg-info card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-white">
                                        <i class="fa fa-2x fa-clock text-white"></i>
                                    </span>
                                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">44</span>
                                    <span class="font-weight-bold text-white  font-size-sm">Pending tasks</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 30-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin::Stats Widget 31-->
                            <div class="card card-custom bg-danger card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-2x svg-icon-white">
                                        <i class="fa fa-2x fa-file text-white"></i>
                                    </span>
                                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">50</span>
                                    <span class="font-weight-bold text-white  font-size-sm">Pending reviews</span>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Stats Widget 31-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            Exceptions
                                            <small></small>
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="javascript:void(0);">
                                                    Week
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" href="javascript:void(0);">
                                                    Day
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-vertical-center">
                                            <thead>
                                                <tr>
                                                    <th class="p-0" style="width: 50px"></th>
                                                    <th class="p-0" style="min-width: 150px"></th>
                                                    <th class="p-0" style="min-width: 140px"></th>
                                                    <th class="p-0" style="min-width: 110px"></th>
                                                    <th class="p-0" style="min-width: 50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="py-2 pl-0">
                                                        <i class="fa fa-2x fa-exclamation-triangle kt-font-warning"></i>
                                                    </td>
                                                    <td class="pl-0">
                                                        <a href="javascript:void(0);"
                                                            class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Top
                                                            Authors</a>
                                                        <span class="text-muted d-block">Successful Fellas</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="text-muted font-weight-500">
                                                            ReactJs, HTML
                                                        </span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span
                                                            class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-success">Approved</span>
                                                    </td>
                                                    <td class="text-right pr-0">
                                                        <button
                                                            class="btn btn-label-brand btn-sm btn-bold btn-upper btn-sm">
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            Open alerts
                                            <small></small>
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="javascript:void(0);">
                                                    Week
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" href="javascript:void(0);">
                                                    Day
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-vertical-center">
                                            <thead>
                                                <tr>
                                                    <th class="p-0" style="width: 50px"></th>
                                                    <th class="p-0" style="min-width: 250px"></th>
                                                    <th class="p-0" style="min-width: 100px"></th>
                                                    <th class="p-0" style="min-width: 40px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="py-2 pl-0">
                                                        <i class="fa fa-2x fa-clock kt-font-primary"></i>
                                                    </td>
                                                    <td class="pl-0">
                                                        <a href="javascript:void(0);"
                                                            class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Top
                                                            Authors</a>
                                                        <span class="text-muted d-block">Successful Fellas</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex flex-column w-100 mr-2">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between mb-2">
                                                                <span
                                                                    class="text-muted mr-2 font-size-sm font-weight-bold">
                                                                    65%
                                                                </span>
                                                                <span class="text-muted font-size-sm font-weight-bold">
                                                                    Progress
                                                                </span>
                                                            </div>
                                                            <div class="progress progress-sm w-100">
                                                                <div class="progress-bar bg-danger" role="progressbar"
                                                                    style="width: 65%;" aria-valuenow="50"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right pr-0">
                                                        <button
                                                            class="btn btn-label-brand btn-sm btn-bold btn-upper btn-sm">
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Assigned tasks
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <button class="btn btn-outline-primary">
                                    <i class="fa fa-list" style="font-size: 1.2rem !important;"></i> View all
                                </button>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <div class="table-responsive">
                                <table
                                    class="table table-head-custom table-vertical-center table-head-bg table-borderless">
                                    <thead>
                                        <tr class="text-left">
                                            <th style="min-width: 250px" class="pl-2">
                                                <span class="text-dark-75">Alert</span></th>
                                            <th style="min-width: 100px">Date</th>
                                            <th style="min-width: 100px">Frequency</th>
                                            <th style="min-width: 100px">Sample size</th>
                                            <th style="min-width: 100px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pl-0 py-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-50 symbol-light mr-4">
                                                        <i class="fa fa-2x fa-layer-group kt-font-primary"></i>
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);"
                                                            class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Top
                                                            Authors</a>
                                                        <span class="text-muted d-block">Successful Fellas</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                    $520
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                    Intertico
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                    Intertico
                                                </span>
                                            </td>
                                            <td class="pr-0 text-right">
                                                <button class="btn btn-label-brand btn-sm btn-bold btn-upper btn-sm">
                                                    Review
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet">
                        <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Submitted working papers
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <button class="btn btn-outline-primary">
                                    <i class="fa fa-list" style="font-size: 1.2rem !important;"></i> View all
                                </button>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
                                <thead>
                                    <tr class="text-left">
                                        <th style="min-width: 250px" class="pl-2">
                                            <span class="text-dark-75">Alert</span></th>
                                        <th style="min-width: 100px">Date</th>
                                        <th style="min-width: 100px">Frequency</th>
                                        <th style="min-width: 100px">Sample size</th>
                                        <th style="min-width: 100px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-0 py-3">
                                            <div class="d-flex align-items-center">
                                                <div class="symbol symbol-50 symbol-light mr-4">
                                                    <i class="fa fa-2x fa-file kt-font-primary"></i>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);"
                                                        class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">Top
                                                        Authors</a>
                                                    <span class="text-muted d-block">Successful Fellas</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                $520
                                            </span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                Intertico
                                            </span>
                                        </td>
                                        <td>
                                            <span
                                                class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-warning">Submitted</span>
                                        </td>
                                        <td class="pr-0 text-right">
                                            <button class="btn btn-label-brand btn-sm btn-bold btn-upper btn-sm">
                                                Review
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End:: App Content-->
            </div>
        </div>
    </div>
</div>