<div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
        <div>
            <div *ngIf="loadingProcess" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" 
                    role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                <div class="card" *ngFor="let process of deptProcesses; let p = index;">
                    <div class="card-header" id="headingOne{{process.process.id}}">
                        <div class="card-title" [ngClass]="{collapsed: !process.isActive}"
                            (click)="toggleProcessAccordion(p)" data-toggle="collapse" data-target="#collapseOne4"
                            aria-expanded="false" aria-controls="collapseOne4">
                            <i class="flaticon-tabs kt-font-info"></i>  <span class="kt-font-info">Process: {{process.process.displayName}}</span>
                            <span *ngIf="_organizationUnit.id != process.process.departmentId"
                                class="kt-badge kt-badge--brand kt-badge--inline ml-3"
                                data-toggle="tooltip" title="This process was inherited from a parent department."
                                data-placement="top">
                                Inherited
                            </span>
                        </div>
                    </div>
                    <div id="collapseOne{{process.process.id}}" class="collapse" [ngClass]="{show: process.isActive}"
                        aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                        <div class="card-body">
                            <div *ngIf="processResidualRiskRating" class="row">
                                <div class="col-lg-3">
                                    <div>
                                        <span [style.background]="getRiskRatingColor(processInherentRiskPercent)"
                                                class="kt-badge kt-badge--danger kt-badge--inline"
                                                data-placement="top">
                                            {{ processInherentRiskRating }}
                                        </span>
                                        <span class="text-muted d-block">Inherent Risk Rating</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div style="width: 100%;text-align: right;">
                                        <h4 class="mb-0">{{ processInherentRiskPercent | percent:'1.0-0' }}</h4>
                                        <span class="text-muted d-block">Inherent Risk Score</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <span [style.background]="getRiskRatingColor(processResidualRiskPercent)"
                                                class="kt-badge kt-badge--danger kt-badge--inline"
                                                data-placement="top">
                                            {{ processResidualRiskRating }}
                                        </span>
                                        <span class="text-muted d-block">Residual Risk Rating</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div style="width: 100%;text-align: right;">
                                        <h4 class="mb-0">{{ processResidualRiskPercent | percent:'1.0-0' }}</h4>
                                        <span class="text-muted d-block">Residual Risk Score</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <!-- <button *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit && !isViewOnly"
                                        class="btn btn-primary btn-sm my-3">
                                        <i class="fa fa-edit"></i> Edit Process
                                    </button>
                                    <button *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit && !isViewOnly"
                                         class="btn btn-primary btn-sm my-3">
                                        <i class="fa fa-times"></i> Remove Process
                                    </button> -->
                                    <button *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit && !isViewOnly"
                                        (click)="addRiskToUnit(process.process.id)" class="btn btn-danger btn-sm float-right my-3">
                                        <i class="fa fa-plus"></i> Add Risk
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div *ngIf="loadingRisk" class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                                                style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-12" *ngFor="let risk of deptRisks; let r = index;">
                                                <div class="bg-border-danger mb-3 risk-card">
                                                    <div class="row px-3">
                                                        <div class="col-md-4 py-3">
                                                            <div class="d-flex align-items-center">
                                                                <div>
                                                                    <a href="javascript:void(0);" (click)="toggleRiskAccordion(r)"
                                                                        class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                                        {{risk.risk.riskName}}
                                                                        <i *ngIf="risk.risk.overControlled" class="fa fa-exclamation-triangle kt-font-warning" title="This risk is over controlled"></i>
                                                                    </a>
                                                                    <span class="text-muted d-block">Risk</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2  py-3">
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 100%;text-align: right;">
                                                                    <span [style.background]="_appConsts.getLikelihoodStatusColor(risk.risk.processRisk.likelyhood)"
                                                                            class="kt-badge kt-badge--danger kt-badge--inline"
                                                                            data-placement="top">
                                                                        {{l('Likelihood_' + risk.risk.processRisk.likelyhood)}}
                                                                    </span>
                                                                    <span class="text-muted d-block">Likelihood</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 py-3">
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 100%;text-align: right;">
                                                                    <span [style.background]="_appConsts.getLikelihoodStatusColor(risk.risk.processRisk.impact)"
                                                                            class="kt-badge kt-badge--danger kt-badge--inline"
                                                                            data-placement="top">
                                                                        {{l('Impact_' + risk.risk.processRisk.impact)}}
                                                                    </span>
                                                                    <span class="text-muted d-block">Impact</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 py-3">
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 100%">
                                                                    <h4 class="mb-0 text-right">{{risk.risk.inherentRiskScore}}</h4>
                                                                    <span class="text-muted d-block text-right">Inherent Risk</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 py-3">
                                                            <div class="d-flex align-items-center">
                                                                <div style="width: 100%">
                                                                    <h4 class="mb-0 text-right">{{risk.risk.residualRiskScore | number:'1.2-2'}}</h4>
                                                                    <span class="text-muted d-block text-right">Residual Risk</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="risk.isActive" class="px-2 pb-2">
                                                        <hr>
                                                        <div class="pb-2">
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                (click)="editProcessRisk(risk.risk.processRisk.id, risk.risk.processRisk.processId)">
                                                                <i class="fa fa-edit"></i> Edit Risk
                                                            </button>
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                (click)="removeProcessRisk(risk.risk.processRisk.id)">
                                                                <i class="fa fa-times"></i> Remove Risk
                                                            </button>
                                                            <button type="button" class="btn btn-success btn-sm float-right"
                                                                (click)="addControlToRisk(risk.risk)">
                                                                <i class="fa fa-plus"></i> Add Control
                                                            </button>
                                                        </div>
                                                        <div *ngIf="loadingControls" class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                                role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="bg-border-success p-2" *ngFor="let control of riskControls; let c = index;">
                                                            <div class="row">
                                                                <div class="col-md-8 py-3">
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            <a href="javascript:void(0);" (click)="toggleControlAccordion(c)"
                                                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                                                {{ control.control.controlName }}
                                                                            </a>
                                                                            <span class="text-muted d-block">Control</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2  py-3">
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            <!-- <span [style.background]="_appConsts.getLikelihoodStatusColor(control.control.processRiskControl.likelyhood)"
                                                                                    class="kt-badge kt-badge--danger kt-badge--inline"
                                                                                    data-placement="top">
                                                                                {{l('Likelihood_' + control.control.processRiskControl.likelyhood)}}
                                                                            </span> -->
                                                                            {{control.control.processRiskControl.likelyhood | percent:'1.0-0'}}
                                                                            <span class="text-muted d-block">Likelihood</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 py-3">
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                            <!-- <span [style.background]="_appConsts.getLikelihoodStatusColor(control.control.processRiskControl.impact)"
                                                                                    class="kt-badge kt-badge--danger kt-badge--inline"
                                                                                    data-placement="top">
                                                                                {{l('Impact_' + control.control.processRiskControl.impact)}}
                                                                            </span> -->
                                                                            {{control.control.processRiskControl.impact | percent:'1.0-0'}}
                                                                            <span class="text-muted d-block">Impact</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="control.isActive" class="mx-2">
                                                                <hr>
                                                                <button type="button" class="btn btn-primary btn-sm" 
                                                                    (click)="editProcessRiskControl(control.control.processRiskControl, risk.risk)">
                                                                    <i class="fa fa-edit"></i> Edit Control
                                                                </button>
                                                                <button type="button" class="btn btn-primary btn-sm" 
                                                                    (click)="removeProcessRiskControl(control.control.processRiskControl.id)">
                                                                    <i class="fa fa-times"></i> Remove Control
                                                                </button>
                                                                <button type="button" class="btn btn-primary btn-sm pull-right" 
                                                                    (click)="createTestingTemplate(control.control.processRiskControl.id)">
                                                                    <i class="fa fa-plus"></i> Add Testing Template
                                                                </button>
                                                                <br><br>
                                                                <div class="table-responsive">
                                                                    <div class="table table-hover">
                                                                        <p *ngIf="control.control.testingTemplates.items.length == 0">No template found</p>
                                                                        <table class="table table-hover">
                                                                            <tr *ngFor="let template of control.control.testingTemplates.items">
                                                                                <td style="width: 70%;">
                                                                                    {{ template.testingTemplate.title }}
                                                                                </td>
                                                                                <td style="width: 30%;">
                                                                                    <button type="button" class="btn btn-primary btn-sm pull-right" 
                                                                                        (click)="review(template.testingTemplate.id)">
                                                                                        Review
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-outline-primary mr-2 btn-sm pull-right" 
                                                                                        (click)="removeControlTestingTemplate(template.testingTemplate.id)">
                                                                                        <i class="fa fa-times"></i>
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!-- Controls -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="deptProcesses.length == 0" class="text-muted">
                No process found
            </div>
        </div>
    </div>
</div>
<div *ngIf="!organizationUnit" class="text-muted">
    Select a department to see the processes.
</div>

<app-create-or-edit-process-risk #createOrEditProcessRiskModal (modalSave)="reload()"></app-create-or-edit-process-risk>
<app-create-or-edit-process-risk-control #createOrEditProcessRiskControlModal (modalSave)="reload()"></app-create-or-edit-process-risk-control>
<createOrEditTestingTemplateModal #createOrEditTestingTemplateModal (modalSave)="reload()" ></createOrEditTestingTemplateModal>
